body {
  font-family: "Nanum Gothic", sans-serif; 
}

.loginTitle {
  font-size: 25px; font-weight: bold; text-shadow: 0 0 2px black; 
}

.loginWrap {
  margin: 15% auto; width: 305px; 
}
.loginInput {
  padding: 5px; 
}

.loginSubmit {
  border-radius: 10px; float: right; margin-top: -58px; height: 55px; width: 55px; background-color: #3bbaea; box-shadow: 0 0 3px black; cursor: pointer;
 }

.loginButton {
  margin-right: 60px; 
}